<div class="sidebar-info">
    <figure class="avatar-box">
        <img src="images/my_avatar.png" alt="Aldrin Vitorillo" width="85" style="border-radius: 20%;">
    </figure>

    <div class="info-content">
        <h1 class="name" title="Aldrin Vitorillo">Aldrin Vitorillo</h1>
        <p class="title">Co-Founder / Web developer</p>
    </div>

    <button class="info_more-btn" (click)="onToggle()">
        <span>Show Contacts</span>
        <ion-icon name="chevron-down"></ion-icon>
    </button>
</div>

<div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="business-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Startups</p>
                <a href="https://www.rotosystems.net" target="_blank" class="contact-link">roto</a>
            </div>
        </li>

        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Email</p>
                <a href="mailto:aldrinjohnvitorillo0229@gmail.com"
                    class="contact-link">aldrinjohnvitorillo0229&#64;gmail.com</a>
            </div>
        </li>

        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Phone</p>
                <a href="tel:+639457934125" class="contact-link">+63 945 - 793 - 4125</a>
            </div>
        </li>

        <li class="contact-item">
            <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="contact-info">
                <p class="contact-title">Location</p>
                <address>Philippines, Bohol, Tagbilaran City</address>
            </div>
        </li>
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
        <li class="social-item">
            <a href="https://www.facebook.com/aldrin.john.vitorillo.2024" target="_blank" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
        </li>
        <li class="social-item">
            <a href="https://github.com/Sting421" target="_blank" class="social-link">
                <ion-icon name="logo-github"></ion-icon>
            </a>
        </li>
        <li class="social-item">
            <a href="https://www.linkedin.com/in/aldrin-john-vitorillo-b1538735a/" target="_blank" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </li>
    </ul>
</div>